<% @ad.comments.each do |comment| %>
  <div class="row">
    <div class="col-md-12">
      <%= comment.user.email %>
      
      <p id="time-ago" class="pull-right"><strong>
        <%= time_ago_in_words(comment.created_at) %>
        
        <% if (comment.user == current_user || admin_signed_in?) %>
          <%= link_to site_comment_path(comment),
            method: :delete, class: 'btn btn-danger btn-circle',
            data: { confirm: ("Deseja excluir #{comment.body.truncate(30)}?") } do %>
            <i class="fa fa-trash"></i>
          <% end %>
        <% end %>
      </strong></p>
      <p><%= comment.body %></p>
    </div>
  </div>
  <hr>
<% end %>
