<div class="container">
  <div class="row">
    <div id="home-detail" class="col-md-9">
      <% if controller_path == 'site/home' %>
        <%= render partial: 'layouts/site_shared/carousel' %>
      <% end %>
    </div>
  </div>  
</div>

<%= render partial: 'site/shared/ads' %>
