<!DOCTYPE html>
<html>
<head>
  <title>JPCompany</title>
  
  <%= stylesheet_link_tag 'application', media: 'all' %>
  
  <%= csrf_meta_tags %>
</head>
<body>
  <h1>APPLICATION LAYOUT</h1>
    <%= yield %>
    
    <%= javascript_include_tag 'application' %>
  </body>
</html>
